
/* #region rule for all___________________________________________________________________*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: 1px white dashed;
}

:root{
    --zoom-primary: #000000FF;
    --zoom-secondary: #222222FF;
    --zoom-lighter: #ffffffFF;
    --zoom-success: #4bc800FF;
}





/* #endregion rule for all___________________________________________________________________*/


/* #region Utility___________________________________________________________________*/


.user-visual{
    background-color: var(--zoom-primary);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    

}

.top-right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

#site_footer{
    color: var(--zoom-lighter);
}

.box-relative{
    position: relative;
}

.name-user{
    position: absolute;
    left: 0%;
    bottom: 0%;
    color: var(--zoom-lighter);
    background-color: var(--zoom-secondary);
    padding: 0.5rem 0.5rem;
    opacity: 70%;
    border-radius: 0.2rem;
}


/* #endregion Utility___________________________________________________________________*/




/* #region header___________________________________________________________________*/


.full-screen{
    color: var(--zoom-lighter);
    padding: 0.5rem 0.5rem;
    background-color: var(--zoom-secondary);
    border-radius: 0.5rem;

}

.speaker-view{
    color: var(--zoom-lighter);
    padding: 0.5rem 0.5rem;
    background-color: var(--zoom-secondary);
    border-radius: 0.5rem;

}

.full-screen{
    color: var(--zoom-lighter);
    padding: 0.5rem 0.5rem;
    background-color: var(--zoom-secondary);
    border-radius: 0.5rem;

}


/* #endregion header___________________________________________________________________*/



/* #region main___________________________________________________________________*/

.user{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}
.photo-user{
    padding: 0.5rem;
    
}




/* #endregion main___________________________________________________________________*/
